
body{
  background: url(img/pexels-photo.jpg);
  height: 100vh;
  background-position: center;
  background-color: #43C6AC;
  margin-top: 80px;
}

.welcome-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeName,#userName{
  color: white;
}

span#userName{
  padding-left:10px;
}

.welcomeName{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1)
}

.check{
  height: 50px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  transition: 0.2s linear;
  opacity: 0;
  display: inline-block;
}

span.check{
  background: #28a745;
  border: 2px solid #28a745;
  /* border-radius: 5px; */
}

.notComplete{
  text-decoration: none;
  font-style: normal;
}

.complete{
  text-decoration: line-through;
  font-style: oblique;
}

/* #start{
  font-style: italic;
} */

#todo{
  font-size: 18px;
  width: 100%;
  padding: 10px 10px 10px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#boop{
  display: flex;
  justify-content: center;
  align-items: center;
}

#list-border{
  font-size: 20px;
  border: 2px solid grey;
  border-radius: 5px;
  background: #f3f3f3;
  width: 380px;
  margin: auto;
}

#list-border h1{
  margin: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}


#btnClear{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

#btnDelete{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

#btnCancel{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

#confirm{
  margin-top: 15px;
}

h1{
  font-family: 'Bangers', cursive;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  background: #fff;
  height: 50px;
  line-height: 50px;
  color: #000;
  /* border-bottom: 1px solid black; */
  font-family: sans-serif;
}

li{
  overflow-x: hidden
  width: 350px;
}

li:hover span{
  width: 50px;
  opacity: 1.0;
}

li:nth-child(2n){
	background: #a9a9a9;
  color: #fff;
}

@media screen and (max-width: 600px){
  body{
    background: url(img/paper.jpeg) */
    /* background-position: center; */
    /* height: 100vh; */
   }

  #list-border{
    width: 100%;
  }

}
