body{
  /* background: url(img/pexels-photo.jpg); */
  height: 100vh;
  background-position: center;
  background-color: #43C6AC;
}

.welcome-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#boop{
  display: flex;
  justify-content: center;
  align-items: center;
}

#list-border{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

#list-border{
  list-style: none;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: #f3f3f3;
  width: 400px;
}

#placeholder{
  list-style-type: none;
}
