body{
  background: url(img/pexels-photo.jpg);
  height: 100vh;
  background-position: center;
  background-color: #43C6AC;
}

.welcome-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeName{
  color: white;
}

#todo{
  font-size: 18px;
  width: 100%;
  padding: 10px 10px 10px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#boop{
  display: flex;
  justify-content: center;
  align-items: center;
}

#list-border{
  font-size: 20px;
  border: 2px solid grey;
  border-radius: 5px;
  background: #f3f3f3;
  width: 400px;
  margin: auto;
}

#list-border h1{
  margin: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}


#btnClear{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0; 
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  background: #fff;
  height: 50px;
  line-height: 50px;
  color: #666;
  padding-left: 15px;
}

li:nth-child(2n){
	background: #a9a9a9;
  color: #fff;
}
